<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home to BERT Tweet analysis"</title>
</head>
<body>
<h2>This site is a prototype API for sentiment analysis.</h2>
<form method="post">
  <label for="queryname">QUERY:</label><br>
  <input type="text" id="queryname" name="queryname" value="{{request.form.queryname}}"><br>
  <label for="hist">History:</label><br>
  <input type="text" id="hist" name="hist" value="{{request.form.hist}}">
</form>

<h1><a href="/predict"> Predict !! </a></h1>
</body>
</html>